[Unit]
Description=YeezyBot

[Service]
ExecStart=~/YeezyBot/app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=~/YeezyBot/

[Install]
WantedBy=multi-user.target
